<!-- Modal-->
<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" class="modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 id="myModalLabel" class="modal-title">User Profile</h4>
      </div>
      <div class="modal-body"></div>
      <div class="profile-modal container-fluid">
        <div class="profile-modal_row">
          <form class="form-horizontal">
            <fieldset>
              <!-- Address form-->
              <img alt="profile" class="profile-img" src="profile_pic_ph"/>
              <input type="file" name="button" class="btn btn-default file_upload_file"/>
              <button type="button" name="submit" class="btn btn-default file_upload_btn"> Upload </button>
              <div id="confirmfiletype" class="alert alert-danger">Please check the selected file type.</div>
              <!-- display-name input-->
              <div class="control-group">
                <label class="control-label">Display name</label>
                <div class="controls">
                  <input id="display_name_update" name="display_name" placeholder="display_name_ph" type="text" required="" class="input-xlarge"/>
                  <p class="help-block"></p>
                </div>
              </div>
              <!-- Description-->
              <div class="control-group">
                <label class="control-label"> Description</label><br/>Something about yourself. (No more than 500 words.)
                <div class="controls">
                  <textarea cols="40" id="description_update" rows="5" class="description" placeholder="description_ph"></textarea>
                  <p class="help-block"></p>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
        <button type="button" id="savechanges" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
