#editprofile{
    margin-top: 20px;
    margin-left: 40px;
}

#description{
	height: 300px;
	width: 400px;
}

.textarea{
	border: 1px solid black;
}

#edit{
	position: absolute;
	top: 120px;
	left: 100px;
	display: none;
}
.profile-img
{
    width: 150px;
    height: 150px;
    margin: 0 auto 10px;
    display: inline;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#confirmfiletype{
	display: none;
	margin-left: 10px;
}
