// Fonts

@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

// Vendor

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

// Variables

$base_bgcolor: #2c3338;
$base_color: #606468;
$base_font-family-fallback: sans-serif;
$base_font-family: 'Open Sans';
$base_font-size: .875rem;
$base_font-weight: 400;
$base_line-height: 1.5;

$form-general_border-radus: .25rem;
$form-general_color: #606468;
$form-general_label_bgcolor: #363b41;
$form-general_input_bgcolor: #3b4148;
$form-general_input_bgcolor-hover: #434A52;
$form-general_submit_bgcolor: #ea4c88;
$form-general_submit_bgcolor-hover: #d44179;
$form-general_submit_color: #eee;

$grid_container_width: 90%;

$link_color: #eee;

// Base

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: $base_bgcolor;
  color: $base_color;
  margin: 0;
  min-height: 100%;
}

a {
  color: $link_color;
  outline: 0;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }

}

input {
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  transition: background-color .3s;
}

// Layout

.site {

  &_container {
    flex: 1;
    padding: 3rem 0;
  }

}

// Utilities

.align {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.text {

  &-center {
    text-align: center;
  }

}

// Grid

.grid {

  &_container {
    margin: 10% auto;
    max-width: 50rem;
    width: $grid_container_width;
  }

}

//Profile
.profile{

    &_row{
        width: 100%;
        margin: 2rem;
    }
    &_media
     {
         a{
             padding: 0.5rem !important;
         }
         /*box-shadow:0px 0px 4px -2px #000;*/
         margin: 20px 0;
         padding:30px;
         .media-body{
             padding-top: 1rem;
             span{
                 margin-right: 1rem;
             }
         }
     }
     &_dp
     {
         border:10px solid #eee;
         transition: all 0.2s ease-in-out;

         &:hover
         {
             border:2px solid #eee;
             transform:rotate(360deg);
             -ms-transform:rotate(360deg);
             -webkit-transform:rotate(360deg);
             /*-webkit-font-smoothing:antialiased;*/
         }
     }
}

//Profile_modal

.profile-modal{
    margin-top: 20px;
    margin-left: 40px;
    .description{
    	height: 300px;
    	width: 400px;
    }
    input,textarea{
    	border: 1px solid #c2c2c2;
    }
    .profile-img
    {
        width: 150px;
        height: 150px;
        margin-left: 0px;
        display: block;
        border-radius: 50%;
    }
    .file_upload{
        &_file{
            display: inline-block;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
        &_btn{
            display: inline-block;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    }
    #confirmfiletype{
    	display: none;
    	margin-left: 10px;
    }
}
