doctype html
html
  head
    title Place Autocomplete Address Form
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
    link(type='text/css', rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500')
  body
    #locationField
      input#autocomplete(placeholder='Enter your address', onfocus='geolocate()', type='text')
    script(src='/javascripts/autocomplete.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBtH3mU3MCHy5eit3re5KJl12UUOySL9cc&signed_in=true&libraries=places&callback=initAutocomplete', async='', defer='')
