doctype html
head
    meta(charset='UTF-8')
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    title Login
    include ./head.jade
    link(rel='stylesheet', href='css/index.css')
    link(rel='stylesheet', href='css/newprofile.css')
body.align
    .site_container
        include ./navbar.jade
        .grid_container.form
        .myModalPlaceholder
    script(src='js/index.js')
    script(src='js/index_controller.js')
    
