// Modal
#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
	.modal-dialog(role='document')
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
				h4#myModalLabel.modal-title User Profile
			.modal-body
			.profile-modal.container-fluid
				.profile-modal_row
					form.form-horizontal
						fieldset
							// Address form
							img.profile-img(alt='profile')
							input.btn.btn-default.file_upload_file(type='file', name='button')
							button.btn.btn-default.file_upload_btn(type='button', name='submit')  Upload 
							#confirmfiletype.alert.alert-danger
								| Please check the selected file type.
							// first-name input
							.control-group
								label.control-label Email
								.controls
									input#email.input-xlarge(name='email', type='text', required='')
									p.help-block
							// user-name input
							.control-group
								label.control-label Username
								.controls
									input#username.input-xlarge(name='username', type='text', required='')
									p.help-block
							// Fullname input
							.control-group
								label.control-label Fullname
								.controls
									input#fullname.input-xlarge(name='fullname', type='text', required='')
									p.help-block            
							// Description
							.control-group
								label.control-label  Description
								br
								| Something about yourself. (No more than 500 words.)
								.controls
									textarea.description(cols='40', rows='5')
									p.help-block
			.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal') Close
				button.btn.btn-primary(type='button') Save changes
